@import "_utils.scss";
@import "_header.scss";
@import "_section.scss";
@import "_article.scss";
@import "_sectionsMenores.scss";

*
{
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
}

body
{
  background-color: #EAEEF0;
}
/*tetrtretretrtretretetertertterteretr*/
.menu_principal
{
  li
  {
    .sub-menu
    {
          .menu-item
          {
              .sub-menu
              {
                background-color: red !important;
                .menu-item
                {
                  display: block;
                  text-align: right !important;
                  min-width: 150px;
                }
              }
          }
    }
  }
}
/*tetrtretretrtretretetertertterteretr*/