@import "_utils.scss";
@import "_header.scss";
@import "_section.scss";
@import "_article.scss";
@import "_sectionsMenores.scss";

*
{
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
}

body
{
  background-color: #EAEEF0;
}